body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    min-width: 320px;
    font-family: 'Inter', sans-serif;
    line-height: 1.5;
}



h1 { line-height: 1.1; }
h2 { line-height: 1.2; }
h3 { line-height: 1.3; }

p, li {
  line-height: 1.5;
}

.base-container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

html {
    font-size: 62.5%;
    /* 10px = 10/16 * 100 */
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

header {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    padding: 0;
    display: block;
    margin: 0;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

:root {
    --primary-color: #2563eb;
    --color-secondary: #EFF6FF;
    --color-grey: #71717B;
    --color-blue: #3080FF;
    --color-white: #FFFFFF;
    --color-black: #000;
    --color-light-white: #E4E4E7;
}

.text-red {
    color: red;
}

